#container .container .row .blog_register_login #blog_form .form-item_wrap select {
    width: 100%;
    background: #e5eaee;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-top: 1px solid #b9c1cb;
    font-size: 16px;
    color: #253140;
    padding-left: 20px;
    border-radius: 5px;
}

#container .container .row .blog_register_login #blog_form .form-item_wrap label {
    font-size: 11px;
    color: #8b95a1;
    padding-top: 25px;
}

#container .container .row .blog_register_login #blog_form .form-item_wrap input {
    width: 100%;
    background: #e5eaee;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-top: 1px solid #b9c1cb;
    font-size: 16px;
    color: #253140;
    padding-left: 20px;
    border-radius: 5px;
}

#container .container .row .blog_register_login #blog_form .form-item_wrap textarea {
    width: 100%;
    background: #e5eaee;
    height: 160px;
    line-height: 40px;
    border: 0;
    border-top: 1px solid #b9c1cb;
    font-size: 16px;
    color: #253140;
    padding-left: 20px;
    border-radius: 5px;
}

#container .container .row .blog_register_login #blog_form .form-item_wrap .description {
    font-size: 11px;
    color: #8b95a1;
    float: right;
}

#container .container .row .blog_register_login #blog_form .form-item_wrap .description_image {
    font-size: 11px;
    color: #8b95a1;
}

#container .container .row .blog_register_login #blog_form .form-item_wrap .chose_file {
    font-size: 12px;
    text-decoration: none;
    padding: 0 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: white;
    background: #003060;
    border-radius: 5px;
    border: 2px solid #003c7b;
    display: inline-block;
}

#container .container .row .blog_register_login #blog_form .form-item_wrap #article_save_button {
    margin-top: 20px;
    font-size: 14px;
    text-decoration: none;
    padding: 0 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: white;
    background: #003c7b;
    border-radius: 5px;
    border: 2px solid #003c7b;
    display: inline-block;
}

header.editable_mode {
    height: 0 !important;
    display: none;
}

header.editable_mode .container-fluid {
    height: 0 !important;
    display: none;
}

header .container-fluid {
    height: 0 !important;
    display: none;
}

#container .container .front_blog_img_wrap .created {
    color: #8b95a1;
    font-size: 14px;
}

.navbar-right {
    padding-top: 0;
}

#oe_applications {
    margin-top: 0;
}

input[type="button" i

]
,
input[type="submit" i

]
,
input[type="reset" i

]
,
input[type="file" i

]
::-webkit-file-upload-button, button {
    background: #003c7b;
    border-radius: 5px;
    border: 2px solid #003c7b;
    display: inline-block;
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 0 20px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
}

.form-item_wrap .upload_intro_image #post_input_image {
    background: none !important;
    border: none !important;
    vertical-align: middle;
    display: inline-flex;
}

#oe_main_menu_navbar {
    z-index: 999;
}

.blog_register_login .question_text {
    border: solid 1px #D0D0D0;
    padding-bottom: 40px;
    padding-left: 20px;
    border-radius: 10px;
    background: whitesmoke;
    margin-top: 25px;
    font-style: italic;
}

#wrap #container .about_us {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.popup_bg {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    display: none;
}

.popup_container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #161d26;
    font-size: 17px;
    left: 50%;
    max-width: 600px;
    padding: 50px 30px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 501;
    display: none;
}

.popup_container h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 400px
}

.popup_container .popup_text {
    margin: 40px 0
}

@media screen and (max-width: 959px) {
    .popup_container .popup_text {
        margin: 20px 0
    }
}

.popup_container .popup_red_button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #003c7b;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    text-decoration: none
}

@media screen and (max-width: 959px) {
    .popup_container .popup_red_button {
        font-size: 15px
    }
}

.popup-container .popup-red-btn:hover {
    background-color: #003366;
    color: #fff
}

@media screen and (max-width: 959px) {
    .popup_container {
        padding: 40px 20px;
        font-size: 15px
    }

    .popup_container h2 {
        font-size: 20px
    }
}

#blog_content .snippet_big_message .btn.btn-lg {
    background: #003c7b;
}

#blog_contact_us {
    border-radius: 0;
}

/*            Snippets backgroud               */

.oe_light_green {
    background-color: #94a14a !important;
    color: #161d26 !important;
}

.oe_light_green .text-muted {
    color: #dddddd !important;
}

.oe_dark_green {
    background-color: #81856f !important;
    color: #161d26 !important;
}

.oe_dark_green .text-muted {
    color: #dddddd !important;
}

.oe_bordo {
    background-color: #5c2932 !important;
    color: white !important;
}

.oe_bordo .text-muted {
    color: #dddddd !important
}

.oe_violet {
    background-color: #7f588a !important;
    color: white !important;
}

.oe_violet .text-muted {
    color: #dddddd !important
}

.oe_marsala {
    background-color: #78140a !important;
    color: white !important;
}

.oe_marsala .text-muted {
    color: #dddddd !important
}

.oe_pistachio {
    background-color: #a9a35f !important;
    color: #161d26 !important;
}

.oe_pistachio .text-muted {
    color: #dddddd !important
}

.oe_grey {
    background-color: #7b7b87 !important;
    color: #161d26 !important;
}

.oe_grey .text-muted {
    color: #dddddd !important
}

.oe_blue {
    background-color: #6889ae !important;
    color: #161d26 !important;
}

.oe_blue .text-muted {
    color: #dddddd !important
}

.oe_dark_rock {
    background-color: #2d252d !important;
    color: white !important;
}

.oe_dark_rock .text-muted {
    color: #dddddd !important
}

.oe_red {
    background-color: #de3945 !important;
    color: #161d26 !important;
}

.oe_red .text-muted {
    color: #dddddd !important
}

.oe_dark_red {
    background-color: #b50715 !important;
    color: white !important;
}

.oe_dark_red .text-muted {
    color: #dddddd !important
}

.oe_dark_blue {
    background-color: #5171a5 !important;
    color: white !important;
}

.oe_dark_blue .text-muted {
    color: #dddddd !important
}

.oe_dark_deep_blue {
    background-color: #264d8e !important;
    color: white !important;
}

.oe_dark_deep_blue .text-muted {
    color: #dddddd !important
}

.main_blog .list .item a .category {
    padding-top: 10px !important;
}

.main_blog .list .item a img {
    padding-bottom: 10px !important;
}

#hide_search {
    display: none;
    border: none;
    float: right;
    position: relative;
    top: -67px;
    color: #b9c1cb;
}
`
#checkbox {
    height: 15px;
    width: auto;
    display: none !important;
    margin: 4px 8px 4px 4px;
}

.not-active {
   pointer-events: none;
   cursor: default;
}
