#blog_content.mt32 {
  margin-top: 0px !important; }

.front_blog_img_wrap .post-meta.text-muted {
  text-align: left;
  margin-bottom: 0px; }
  .front_blog_img_wrap .post-meta.text-muted span {
    display: none;
    text-align: left; }
  .front_blog_img_wrap .post-meta.text-muted a {
    color: #b9c1cb;
    font-size: 11px;
    line-height: 26px;
    border: 2px solid #b9c1cb;
    border-radius: 2px;
    display: inline-block;
    padding: 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
    /*float: left;*/ }
    .front_blog_img_wrap .post-meta.text-muted a:hover {
      background: #b9c1cb;
      color: white; }

.front_blog_img_wrap .mt16 {
  margin-top: 0px !important; }

#footer {
  padding: 0px; }

/*******************************************/
#blog_content {
  color: #161d26;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px; }
  #blog_content .carousel .item {
    height: auto; }
  #blog_content p {
    padding: 25px 0px;
    margin: 0px; }
  #blog_content section {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; }
    #blog_content section h3 {
      font-size: 30px;
      font-weight: 700; }
    #blog_content section p {
      font-size: 17px;
      font-weight: 300; }
    #blog_content section .row {
      margin: 0px; }
  #blog_content > section {
    margin: 0px auto 60px auto; }
  #blog_content .small_blue {
    background: #cbe8fc; }
    #blog_content .small_blue .container {
      padding: 44px 105px;
      color: #161d26; }
      #blog_content .small_blue .container h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        margin: 0px; }
      #blog_content .small_blue .container p {
        font-size: 17px;
        font-weight: 300; }
      #blog_content .small_blue .container .btn {
        border-radius: 0px;
        border: 0px;
        padding: 0px 20px;
        line-height: 40px;
        color: white;
        font-size: 17px;
        cursor: pointer; }
  #blog_content .snippet_baner {
    overflow: visible !important;
    padding-top: 30px !important;
    margin-bottom: 60px !important; }
    #blog_content .snippet_baner .row {
      margin: 0px; }
    #blog_content .snippet_baner .left {
      /*background-image: none;*/
      left: 0px;
      color: #005c99;
      height: 100%;
      /*i {
        font-size: 45px;
        color: #005c99;
      }*/ }
      #blog_content .snippet_baner .left span {
        position: relative;
        top: 0px;
        height: 100%;
        left: 0px;
        display: block; }
    #blog_content .snippet_baner .right {
      /*background-image: none;*/
      right: 0px;
      color: #005c99;
      height: 100%;
      /*i {
        font-size: 45px;
        color: #005c99;
      }*/ }
      #blog_content .snippet_baner .right span {
        position: relative;
        top: 0px;
        height: 100%;
        right: 0px;
        display: block;
        left: 0px; }
    #blog_content .snippet_baner div.carousel-content {
      text-align: center;
      color: #161d26;
      background: rgba(0, 0, 0, 0.41);
      margin-top: 25px !important;
      margin-bottom: 25px !important; }
    #blog_content .snippet_baner h2 {
      font-size: 48px;
      font-weight: 700; }
    #blog_content .snippet_baner h3 {
      font-size: 17px;
      font-weight: 300; }
    #blog_content .snippet_baner .btn {
      line-height: 40px;
      font-size: 17px;
      padding: 0px 20px;
      border: 0px;
      border-radius: 0px; }
    #blog_content .snippet_baner .carousel-indicators {
      bottom: -48px; }
      #blog_content .snippet_baner .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #d3dae1;
        border: 0px;
        margin: 0px 5px; }
        #blog_content .snippet_baner .carousel-indicators li.active {
          background-color: #d60717; }
  #blog_content .snippet_text_img h3 {
    line-height: 40px;
    margin-bottom: 0px; }
  #blog_content .snippet_text_img .mt16 {
    padding: 0px 40px;
    margin: 40px 0px !important; }
  #blog_content .snippet_img_floating h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 0px; }
  #blog_content .snippet_img_floating .mt16 {
    padding: 0px 40px;
    margin: 40px 0px !important; }
  #blog_content .snippet_img_floating .o_image_floating {
    width: 50%;
    margin-left: 60px;
    margin-bottom: 30px; }
    #blog_content .snippet_img_floating .o_image_floating .o_footer {
      color: #868f9a;
      font-size: 14px;
      padding-top: 10px;
      line-height: 16px; }
    #blog_content .snippet_img_floating .o_image_floating div.o_container mark {
      text-align: left;
      background: none;
      left: 45px;
      bottom: 25px;
      padding: 0px;
      font-size: 19px;
      text-transform: uppercase; }
  #blog_content .snippet_big_message h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: bold; }
  #blog_content .snippet_big_message .btn {
    border-radius: 0px;
    /*border: 2px solid transparent;*/
    padding: 0px 20px;
    line-height: 40px;
    color: white;
    font-size: 17px; }
    #blog_content .snippet_big_message .btn.btn-blue {
      background: #015995; }
  #blog_content .snippet_text_block .text-center {
    margin-bottom: 0px !important; }
  #blog_content .snippet_text_block h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: bold; }
  #blog_content .snippet_text_block h3 {
    font-size: 30px;
    line-height: 40px;
    color: #161d26; }
  #blog_content .snippet_title h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: bold; }
  #blog_content .snippet_title h3 {
    font-size: 30px;
    line-height: 40px;
    color: #161d26; }
  #blog_content .snippet_feature h3 {
    font-size: 30px;
    line-height: 40px;
    color: #161d26; }
  #blog_content .snippet_feature .text-muted {
    padding: 15px 0px;
    color: #161d26;
    font-size: 15px; }
  #blog_content .snippet_big_picture h2 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 0px;
    font-weight: bold; }
  #blog_content .snippet_three_colums h4 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold; }
  #blog_content .snippet_well {
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #d3e7fb;
    font-size: 17px;
    line-height: 30px;
    font-weight: 300; }
  #blog_content .snippet_quote {
    border-left: 5px solid #d60717; }
    #blog_content .snippet_quote small {
      color: #161d26;
      font-size: 17px;
      font-weight: 300;
      font-style: italic; }
  #blog_content .snippet_panel {
    border: 0px;
    background: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 15px; }
    #blog_content .snippet_panel .panel-heading {
      font-size: 30px;
      line-height: 40px;
      color: #161d26;
      background: #9dc9ec;
      border: 0px;
      border-radius: 0px; }
    #blog_content .snippet_panel .panel-body {
      background: #d3e7fb;
      font-size: 17px;
      line-height: 30px; }
  #blog_content .snippet_img_floating .text-muted {
    color: #161d26; }
  #blog_content .snippet_img_gallery h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: bold; }
  #blog_content .snippet_img_gallery h4 {
    font-size: 30px;
    line-height: 40px;
    color: #161d26;
    font-weight: bold; }
  #blog_content .snippet_comparisons .panel {
    border-radius: 0px; }
    #blog_content .snippet_comparisons .panel .panel-heading, #blog_content .snippet_comparisons .panel .panel-footer {
      border-radius: 0px; }
  #blog_content .snippet_comparisons .btn-primary {
    border-radius: 0px;
    /*border: 2px solid transparent;
      &.btn-primary {
      	border: 2px solid #d60717;
      	color: #d60717;
      	&:hover {
      		background:#d60717;
      		color: white;
      	}
      }*/ }
  #blog_content .snippet_button p {
    color: #161d26; }
  #blog_content .snippet_button .btn {
    border-radius: 0px;
    border: 0px;
    padding: 0px 45px;
    line-height: 60px;
    color: white;
    font-size: 17px; }
  #blog_content .snippet_faq h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: bold; }
    #blog_content .snippet_faq h2 small {
      color: #161d26; }
  #blog_content .snippet_faq h3 {
    font-size: 30px;
    line-height: 40px; }
  #blog_content .snippet_references h1 {
    font-size: 48px;
    line-height: 60px; }
  #blog_content .snippet_references h3 {
    font-size: 30px;
    line-height: 40px;
    color: #161d26; }
  #blog_content .snippet_references blockquote {
    border-left: 5px solid #d60717; }
  #blog_content .snippet_references small {
    color: #161d26;
    font-size: 17px;
    font-weight: 300;
    font-style: italic; }
  #blog_content .snippet_quotes_slider blockquote {
    border-left: 5px solid #d60717; }
  #blog_content .snippet_quotes_slider small {
    color: #161d26;
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    position: relative;
    bottom: 0px; }
  #blog_content .snippet_quotes_slider .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #d3dae1;
    border: 0px;
    margin: 0px 5px; }
    #blog_content .snippet_quotes_slider .carousel-indicators li.active {
      background-color: #d60717; }
  #blog_content .snippet_feature_grid h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: bold; }
  #blog_content .snippet_feature_grid h3, #blog_content .snippet_feature_grid h4 {
    font-size: 30px;
    line-height: 40px;
    color: #161d26;
    font-weight: bold; }
  #blog_content .oe_dark {
    background: #eff8f8;
    background: rgba(200, 200, 200, 0.14);
    color: #161d26; }
  #blog_content .oe_black {
    background-color: rgba(0, 0, 0, 0.9);
    color: #161d26; }
  #blog_content .oe_green {
    background-color: #169c78;
    color: #161d26; }
  #blog_content .oe_blue_light {
    background-color: #41b6ab;
    color: #161d26; }
  #blog_content .oe_blue {
    background-color: #34495e;
    color: #161d26; }
  #blog_content .oe_orange {
    background-color: #f05442;
    color: #161d26; }
  #blog_content .oe_purple {
    background-color: #b163a3;
    color: #161d26; }
  #blog_content .oe_red {
    background-color: #9c1b31;
    color: #161d26; }

#title_blog h1 {
  font-size: 48px;
  line-height: 60px; }

#title_blog h2 {
  font-size: 30px;
  line-height: 40px; }

.snippet_contact_us textarea {
  background: #e5eaee;
  height: 40px;
  line-height: 40px;
  border: 0px;
  border-top: 1px solid #b9c1cb;
  font-size: 16px;
  color: #253140;
  padding-left: 20px;
  border-radius: 5px;
  height: 170px;
  resize: none;
  width: 100%; }

.snippet_contact_us label {
  font-size: 11px;
  color: #8b95a1;
  padding-top: 25px; }

.snippet_contact_us input[type="text"], .snippet_contact_us input[type="email"], .snippet_contact_us input[type="password"] {
  width: 100%;
  background: #e5eaee;
  height: 40px;
  line-height: 40px;
  border: 0px;
  border-top: 1px solid #b9c1cb;
  font-size: 16px;
  color: #253140;
  padding-left: 20px;
  border-radius: 5px; }

.snippet_contact_us .error-text {
  font-size: 11px;
  color: #8b95a1; }

.snippet_contact_us input[type="submit"] {
  margin-top: 15px;
  font-size: 14px;
  text-decoration: none;
  padding: 0px 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  background: #003c7b;
  border-radius: 5px;
  border: 2px solid #003c7b;
  display: inline-block; }
  .snippet_contact_us input[type="submit"]:hover {
    background: white;
    color: #003c7b; }

@media screen and (max-width: 639px) and (min-width: 320px) {
  .website_blog #share .top_part {
    margin-left: 15px; }
    .website_blog #share .top_part .vote_up {
      margin-right: 15px; }
    .website_blog #share .top_part #comment_click {
      margin-right: 0px; }
      .website_blog #share .top_part #comment_click span {
        display: inherit; }
  .website_blog #share .social-block {
    margin-right: 15px;
    padding-top: 0px; } }

div.blog_autor {
  padding: 40px; }
  div.blog_autor img {
    max-width: 130px;
    width: 100%;
    height: auto;
    float: left;
    margin-right: 50px; }
  div.blog_autor .author_name {
    font-size: 21px;
    color: #d50e1e;
    text-transform: uppercase;
    font-weight: bold; }
  div.blog_autor .author_subtitle {
    font-size: 21px;
    color: #161d26;
    font-weight: 300; }
  div.blog_autor .author_text {
    padding-top: 15px; }

/*# sourceMappingURL=blog_snippets.css.map */
