@charset "UTF-8";
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
.no-padding {
    padding: 0 !important;
}

/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-fw {
    width: 1.28571em;
    text-align: center;
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14286em;
    list-style-type: none;
}

.fa-ul > li {
    position: relative;
}

.fa-li {
    position: absolute;
    left: -2.14286em;
    width: 2.14286em;
    top: 0.14286em;
    text-align: center;
}

.fa-li.fa-lg {
    left: -1.85714em;
}

.fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eee;
    border-radius: .1em;
}

.fa-pull-left {
    float: left;
}

.fa-pull-right {
    float: right;
}

.fa.fa-pull-left {
    margin-right: .3em;
}

.fa.fa-pull-right {
    margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fa.pull-left {
    margin-right: .3em;
}

.fa.pull-right {
    margin-left: .3em;
}

.fa-spin {
    animation: fa-spin 2s infinite linear;
}

.fa-pulse {
    animation: fa-spin 1s infinite steps(8);
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.fa-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    transform: rotate(90deg);
}

.fa-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(180deg);
}

.fa-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(270deg);
}

.fa-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    transform: scale(-1, 1);
}

.fa-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
    -webkit-filter: none;
    filter: none;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa-stack-1x {
    line-height: inherit;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-inverse {
    color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
    content: "";
}

.fa-music:before {
    content: "";
}

.fa-search:before {
    content: "";
}

.fa-envelope-o:before {
    content: "";
}

.fa-heart:before {
    content: "";
}

.fa-star:before {
    content: "";
}

.fa-star-o:before {
    content: "";
}

.fa-user:before {
    content: "";
}

.fa-film:before {
    content: "";
}

.fa-th-large:before {
    content: "";
}

.fa-th:before {
    content: "";
}

.fa-th-list:before {
    content: "";
}

.fa-check:before {
    content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "";
}

.fa-search-plus:before {
    content: "";
}

.fa-search-minus:before {
    content: "";
}

.fa-power-off:before {
    content: "";
}

.fa-signal:before {
    content: "";
}

.fa-gear:before,
.fa-cog:before {
    content: "";
}

.fa-trash-o:before {
    content: "";
}

.fa-home:before {
    content: "";
}

.fa-file-o:before {
    content: "";
}

.fa-clock-o:before {
    content: "";
}

.fa-road:before {
    content: "";
}

.fa-download:before {
    content: "";
}

.fa-arrow-circle-o-down:before {
    content: "";
}

.fa-arrow-circle-o-up:before {
    content: "";
}

.fa-inbox:before {
    content: "";
}

.fa-play-circle-o:before {
    content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
    content: "";
}

.fa-refresh:before {
    content: "";
}

.fa-list-alt:before {
    content: "";
}

.fa-lock:before {
    content: "";
}

.fa-flag:before {
    content: "";
}

.fa-headphones:before {
    content: "";
}

.fa-volume-off:before {
    content: "";
}

.fa-volume-down:before {
    content: "";
}

.fa-volume-up:before {
    content: "";
}

.fa-qrcode:before {
    content: "";
}

.fa-barcode:before {
    content: "";
}

.fa-tag:before {
    content: "";
}

.fa-tags:before {
    content: "";
}

.fa-book:before {
    content: "";
}

.fa-bookmark:before {
    content: "";
}

.fa-print:before {
    content: "";
}

.fa-camera:before {
    content: "";
}

.fa-font:before {
    content: "";
}

.fa-bold:before {
    content: "";
}

.fa-italic:before {
    content: "";
}

.fa-text-height:before {
    content: "";
}

.fa-text-width:before {
    content: "";
}

.fa-align-left:before {
    content: "";
}

.fa-align-center:before {
    content: "";
}

.fa-align-right:before {
    content: "";
}

.fa-align-justify:before {
    content: "";
}

.fa-list:before {
    content: "";
}

.fa-dedent:before,
.fa-outdent:before {
    content: "";
}

.fa-indent:before {
    content: "";
}

.fa-video-camera:before {
    content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
    content: "";
}

.fa-pencil:before {
    content: "";
}

.fa-map-marker:before {
    content: "";
}

.fa-adjust:before {
    content: "";
}

.fa-tint:before {
    content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
    content: "";
}

.fa-share-square-o:before {
    content: "";
}

.fa-check-square-o:before {
    content: "";
}

.fa-arrows:before {
    content: "";
}

.fa-step-backward:before {
    content: "";
}

.fa-fast-backward:before {
    content: "";
}

.fa-backward:before {
    content: "";
}

.fa-play:before {
    content: "";
}

.fa-pause:before {
    content: "";
}

.fa-stop:before {
    content: "";
}

.fa-forward:before {
    content: "";
}

.fa-fast-forward:before {
    content: "";
}

.fa-step-forward:before {
    content: "";
}

.fa-eject:before {
    content: "";
}

.fa-chevron-left:before {
    content: "";
}

.fa-chevron-right:before {
    content: "";
}

.fa-plus-circle:before {
    content: "";
}

.fa-minus-circle:before {
    content: "";
}

.fa-times-circle:before {
    content: "";
}

.fa-check-circle:before {
    content: "";
}

.fa-question-circle:before {
    content: "";
}

.fa-info-circle:before {
    content: "";
}

.fa-crosshairs:before {
    content: "";
}

.fa-times-circle-o:before {
    content: "";
}

.fa-check-circle-o:before {
    content: "";
}

.fa-ban:before {
    content: "";
}

.fa-arrow-left:before {
    content: "";
}

.fa-arrow-right:before {
    content: "";
}

.fa-arrow-up:before {
    content: "";
}

.fa-arrow-down:before {
    content: "";
}

.fa-mail-forward:before,
.fa-share:before {
    content: "";
}

.fa-expand:before {
    content: "";
}

.fa-compress:before {
    content: "";
}

.fa-plus:before {
    content: "";
}

.fa-minus:before {
    content: "";
}

.fa-asterisk:before {
    content: "";
}

.fa-exclamation-circle:before {
    content: "";
}

.fa-gift:before {
    content: "";
}

.fa-leaf:before {
    content: "";
}

.fa-fire:before {
    content: "";
}

.fa-eye:before {
    content: "";
}

.fa-eye-slash:before {
    content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
    content: "";
}

.fa-plane:before {
    content: "";
}

.fa-calendar:before {
    content: "";
}

.fa-random:before {
    content: "";
}

.fa-comment:before {
    content: "";
}

.fa-magnet:before {
    content: "";
}

.fa-chevron-up:before {
    content: "";
}

.fa-chevron-down:before {
    content: "";
}

.fa-retweet:before {
    content: "";
}

.fa-shopping-cart:before {
    content: "";
}

.fa-folder:before {
    content: "";
}

.fa-folder-open:before {
    content: "";
}

.fa-arrows-v:before {
    content: "";
}

.fa-arrows-h:before {
    content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
    content: "";
}

.fa-twitter-square:before {
    content: "";
}

.fa-facebook-square:before {
    content: "";
}

.fa-camera-retro:before {
    content: "";
}

.fa-key:before {
    content: "";
}

.fa-gears:before,
.fa-cogs:before {
    content: "";
}

.fa-comments:before {
    content: "";
}

.fa-thumbs-o-up:before {
    content: "";
}

.fa-thumbs-o-down:before {
    content: "";
}

.fa-star-half:before {
    content: "";
}

.fa-heart-o:before {
    content: "";
}

.fa-sign-out:before {
    content: "";
}

.fa-linkedin-square:before {
    content: "";
}

.fa-thumb-tack:before {
    content: "";
}

.fa-external-link:before {
    content: "";
}

.fa-sign-in:before {
    content: "";
}

.fa-trophy:before {
    content: "";
}

.fa-github-square:before {
    content: "";
}

.fa-upload:before {
    content: "";
}

.fa-lemon-o:before {
    content: "";
}

.fa-phone:before {
    content: "";
}

.fa-square-o:before {
    content: "";
}

.fa-bookmark-o:before {
    content: "";
}

.fa-phone-square:before {
    content: "";
}

.fa-twitter:before {
    content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
    content: "";
}

.fa-github:before {
    content: "";
}

.fa-unlock:before {
    content: "";
}

.fa-credit-card:before {
    content: "";
}

.fa-feed:before,
.fa-rss:before {
    content: "";
}

.fa-hdd-o:before {
    content: "";
}

.fa-bullhorn:before {
    content: "";
}

.fa-bell:before {
    content: "";
}

.fa-certificate:before {
    content: "";
}

.fa-hand-o-right:before {
    content: "";
}

.fa-hand-o-left:before {
    content: "";
}

.fa-hand-o-up:before {
    content: "";
}

.fa-hand-o-down:before {
    content: "";
}

.fa-arrow-circle-left:before {
    content: "";
}

.fa-arrow-circle-right:before {
    content: "";
}

.fa-arrow-circle-up:before {
    content: "";
}

.fa-arrow-circle-down:before {
    content: "";
}

.fa-globe:before {
    content: "";
}

.fa-wrench:before {
    content: "";
}

.fa-tasks:before {
    content: "";
}

.fa-filter:before {
    content: "";
}

.fa-briefcase:before {
    content: "";
}

.fa-arrows-alt:before {
    content: "";
}

.fa-group:before,
.fa-users:before {
    content: "";
}

.fa-chain:before,
.fa-link:before {
    content: "";
}

.fa-cloud:before {
    content: "";
}

.fa-flask:before {
    content: "";
}

.fa-cut:before,
.fa-scissors:before {
    content: "";
}

.fa-copy:before,
.fa-files-o:before {
    content: "";
}

.fa-paperclip:before {
    content: "";
}

.fa-save:before,
.fa-floppy-o:before {
    content: "";
}

.fa-square:before {
    content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: "";
}

.fa-list-ul:before {
    content: "";
}

.fa-list-ol:before {
    content: "";
}

.fa-strikethrough:before {
    content: "";
}

.fa-underline:before {
    content: "";
}

.fa-table:before {
    content: "";
}

.fa-magic:before {
    content: "";
}

.fa-truck:before {
    content: "";
}

.fa-pinterest:before {
    content: "";
}

.fa-pinterest-square:before {
    content: "";
}

.fa-google-plus-square:before {
    content: "";
}

.fa-google-plus:before {
    content: "";
}

.fa-money:before {
    content: "";
}

.fa-caret-down:before {
    content: "";
}

.fa-caret-up:before {
    content: "";
}

.fa-caret-left:before {
    content: "";
}

.fa-caret-right:before {
    content: "";
}

.fa-columns:before {
    content: "";
}

.fa-unsorted:before,
.fa-sort:before {
    content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
    content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
    content: "";
}

.fa-envelope:before {
    content: "";
}

.fa-linkedin:before {
    content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
    content: "";
}

.fa-legal:before,
.fa-gavel:before {
    content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
    content: "";
}

.fa-comment-o:before {
    content: "";
}

.fa-comments-o:before {
    content: "";
}

.fa-flash:before,
.fa-bolt:before {
    content: "";
}

.fa-sitemap:before {
    content: "";
}

.fa-umbrella:before {
    content: "";
}

.fa-paste:before,
.fa-clipboard:before {
    content: "";
}

.fa-lightbulb-o:before {
    content: "";
}

.fa-exchange:before {
    content: "";
}

.fa-cloud-download:before {
    content: "";
}

.fa-cloud-upload:before {
    content: "";
}

.fa-user-md:before {
    content: "";
}

.fa-stethoscope:before {
    content: "";
}

.fa-suitcase:before {
    content: "";
}

.fa-bell-o:before {
    content: "";
}

.fa-coffee:before {
    content: "";
}

.fa-cutlery:before {
    content: "";
}

.fa-file-text-o:before {
    content: "";
}

.fa-building-o:before {
    content: "";
}

.fa-hospital-o:before {
    content: "";
}

.fa-ambulance:before {
    content: "";
}

.fa-medkit:before {
    content: "";
}

.fa-fighter-jet:before {
    content: "";
}

.fa-beer:before {
    content: "";
}

.fa-h-square:before {
    content: "";
}

.fa-plus-square:before {
    content: "";
}

.fa-angle-double-left:before {
    content: "";
}

.fa-angle-double-right:before {
    content: "";
}

.fa-angle-double-up:before {
    content: "";
}

.fa-angle-double-down:before {
    content: "";
}

.fa-angle-left:before {
    content: "";
}

.fa-angle-right:before {
    content: "";
}

.fa-angle-up:before {
    content: "";
}

.fa-angle-down:before {
    content: "";
}

.fa-desktop:before {
    content: "";
}

.fa-laptop:before {
    content: "";
}

.fa-tablet:before {
    content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
    content: "";
}

.fa-circle-o:before {
    content: "";
}

.fa-quote-left:before {
    content: "";
}

.fa-quote-right:before {
    content: "";
}

.fa-spinner:before {
    content: "";
}

.fa-circle:before {
    content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
    content: "";
}

.fa-github-alt:before {
    content: "";
}

.fa-folder-o:before {
    content: "";
}

.fa-folder-open-o:before {
    content: "";
}

.fa-smile-o:before {
    content: "";
}

.fa-frown-o:before {
    content: "";
}

.fa-meh-o:before {
    content: "";
}

.fa-gamepad:before {
    content: "";
}

.fa-keyboard-o:before {
    content: "";
}

.fa-flag-o:before {
    content: "";
}

.fa-flag-checkered:before {
    content: "";
}

.fa-terminal:before {
    content: "";
}

.fa-code:before {
    content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
    content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
    content: "";
}

.fa-location-arrow:before {
    content: "";
}

.fa-crop:before {
    content: "";
}

.fa-code-fork:before {
    content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
    content: "";
}

.fa-question:before {
    content: "";
}

.fa-info:before {
    content: "";
}

.fa-exclamation:before {
    content: "";
}

.fa-superscript:before {
    content: "";
}

.fa-subscript:before {
    content: "";
}

.fa-eraser:before {
    content: "";
}

.fa-puzzle-piece:before {
    content: "";
}

.fa-microphone:before {
    content: "";
}

.fa-microphone-slash:before {
    content: "";
}

.fa-shield:before {
    content: "";
}

.fa-calendar-o:before {
    content: "";
}

.fa-fire-extinguisher:before {
    content: "";
}

.fa-rocket:before {
    content: "";
}

.fa-maxcdn:before {
    content: "";
}

.fa-chevron-circle-left:before {
    content: "";
}

.fa-chevron-circle-right:before {
    content: "";
}

.fa-chevron-circle-up:before {
    content: "";
}

.fa-chevron-circle-down:before {
    content: "";
}

.fa-html5:before {
    content: "";
}

.fa-css3:before {
    content: "";
}

.fa-anchor:before {
    content: "";
}

.fa-unlock-alt:before {
    content: "";
}

.fa-bullseye:before {
    content: "";
}

.fa-ellipsis-h:before {
    content: "";
}

.fa-ellipsis-v:before {
    content: "";
}

.fa-rss-square:before {
    content: "";
}

.fa-play-circle:before {
    content: "";
}

.fa-ticket:before {
    content: "";
}

.fa-minus-square:before {
    content: "";
}

.fa-minus-square-o:before {
    content: "";
}

.fa-level-up:before {
    content: "";
}

.fa-level-down:before {
    content: "";
}

.fa-check-square:before {
    content: "";
}

.fa-pencil-square:before {
    content: "";
}

.fa-external-link-square:before {
    content: "";
}

.fa-share-square:before {
    content: "";
}

.fa-compass:before {
    content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
    content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
    content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
    content: "";
}

.fa-euro:before,
.fa-eur:before {
    content: "";
}

.fa-gbp:before {
    content: "";
}

.fa-dollar:before,
.fa-usd:before {
    content: "";
}

.fa-rupee:before,
.fa-inr:before {
    content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
    content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
    content: "";
}

.fa-won:before,
.fa-krw:before {
    content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
    content: "";
}

.fa-file:before {
    content: "";
}

.fa-file-text:before {
    content: "";
}

.fa-sort-alpha-asc:before {
    content: "";
}

.fa-sort-alpha-desc:before {
    content: "";
}

.fa-sort-amount-asc:before {
    content: "";
}

.fa-sort-amount-desc:before {
    content: "";
}

.fa-sort-numeric-asc:before {
    content: "";
}

.fa-sort-numeric-desc:before {
    content: "";
}

.fa-thumbs-up:before {
    content: "";
}

.fa-thumbs-down:before {
    content: "";
}

.fa-youtube-square:before {
    content: "";
}

.fa-youtube:before {
    content: "";
}

.fa-xing:before {
    content: "";
}

.fa-xing-square:before {
    content: "";
}

.fa-youtube-play:before {
    content: "";
}

.fa-dropbox:before {
    content: "";
}

.fa-stack-overflow:before {
    content: "";
}

.fa-instagram:before {
    content: "";
}

.fa-flickr:before {
    content: "";
}

.fa-adn:before {
    content: "";
}

.fa-bitbucket:before {
    content: "";
}

.fa-bitbucket-square:before {
    content: "";
}

.fa-tumblr:before {
    content: "";
}

.fa-tumblr-square:before {
    content: "";
}

.fa-long-arrow-down:before {
    content: "";
}

.fa-long-arrow-up:before {
    content: "";
}

.fa-long-arrow-left:before {
    content: "";
}

.fa-long-arrow-right:before {
    content: "";
}

.fa-apple:before {
    content: "";
}

.fa-windows:before {
    content: "";
}

.fa-android:before {
    content: "";
}

.fa-linux:before {
    content: "";
}

.fa-dribbble:before {
    content: "";
}

.fa-skype:before {
    content: "";
}

.fa-foursquare:before {
    content: "";
}

.fa-trello:before {
    content: "";
}

.fa-female:before {
    content: "";
}

.fa-male:before {
    content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
    content: "";
}

.fa-sun-o:before {
    content: "";
}

.fa-moon-o:before {
    content: "";
}

.fa-archive:before {
    content: "";
}

.fa-bug:before {
    content: "";
}

.fa-vk:before {
    content: "";
}

.fa-weibo:before {
    content: "";
}

.fa-renren:before {
    content: "";
}

.fa-pagelines:before {
    content: "";
}

.fa-stack-exchange:before {
    content: "";
}

.fa-arrow-circle-o-right:before {
    content: "";
}

.fa-arrow-circle-o-left:before {
    content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
    content: "";
}

.fa-dot-circle-o:before {
    content: "";
}

.fa-wheelchair:before {
    content: "";
}

.fa-vimeo-square:before {
    content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
    content: "";
}

.fa-plus-square-o:before {
    content: "";
}

.fa-space-shuttle:before {
    content: "";
}

.fa-slack:before {
    content: "";
}

.fa-envelope-square:before {
    content: "";
}

.fa-wordpress:before {
    content: "";
}

.fa-openid:before {
    content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
    content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
    content: "";
}

.fa-yahoo:before {
    content: "";
}

.fa-google:before {
    content: "";
}

.fa-reddit:before {
    content: "";
}

.fa-reddit-square:before {
    content: "";
}

.fa-stumbleupon-circle:before {
    content: "";
}

.fa-stumbleupon:before {
    content: "";
}

.fa-delicious:before {
    content: "";
}

.fa-digg:before {
    content: "";
}

.fa-pied-piper:before {
    content: "";
}

.fa-pied-piper-alt:before {
    content: "";
}

.fa-drupal:before {
    content: "";
}

.fa-joomla:before {
    content: "";
}

.fa-language:before {
    content: "";
}

.fa-fax:before {
    content: "";
}

.fa-building:before {
    content: "";
}

.fa-child:before {
    content: "";
}

.fa-paw:before {
    content: "";
}

.fa-spoon:before {
    content: "";
}

.fa-cube:before {
    content: "";
}

.fa-cubes:before {
    content: "";
}

.fa-behance:before {
    content: "";
}

.fa-behance-square:before {
    content: "";
}

.fa-steam:before {
    content: "";
}

.fa-steam-square:before {
    content: "";
}

.fa-recycle:before {
    content: "";
}

.fa-automobile:before,
.fa-car:before {
    content: "";
}

.fa-cab:before,
.fa-taxi:before {
    content: "";
}

.fa-tree:before {
    content: "";
}

.fa-spotify:before {
    content: "";
}

.fa-deviantart:before {
    content: "";
}

.fa-soundcloud:before {
    content: "";
}

.fa-database:before {
    content: "";
}

.fa-file-pdf-o:before {
    content: "";
}

.fa-file-word-o:before {
    content: "";
}

.fa-file-excel-o:before {
    content: "";
}

.fa-file-powerpoint-o:before {
    content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
    content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
    content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
    content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
    content: "";
}

.fa-file-code-o:before {
    content: "";
}

.fa-vine:before {
    content: "";
}

.fa-codepen:before {
    content: "";
}

.fa-jsfiddle:before {
    content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
    content: "";
}

.fa-circle-o-notch:before {
    content: "";
}

.fa-ra:before,
.fa-rebel:before {
    content: "";
}

.fa-ge:before,
.fa-empire:before {
    content: "";
}

.fa-git-square:before {
    content: "";
}

.fa-git:before {
    content: "";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
    content: "";
}

.fa-tencent-weibo:before {
    content: "";
}

.fa-qq:before {
    content: "";
}

.fa-wechat:before,
.fa-weixin:before {
    content: "";
}

.fa-send:before,
.fa-paper-plane:before {
    content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
    content: "";
}

.fa-history:before {
    content: "";
}

.fa-circle-thin:before {
    content: "";
}

.fa-header:before {
    content: "";
}

.fa-paragraph:before {
    content: "";
}

.fa-sliders:before {
    content: "";
}

.fa-share-alt:before {
    content: "";
}

.fa-share-alt-square:before {
    content: "";
}

.fa-bomb:before {
    content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
    content: "";
}

.fa-tty:before {
    content: "";
}

.fa-binoculars:before {
    content: "";
}

.fa-plug:before {
    content: "";
}

.fa-slideshare:before {
    content: "";
}

.fa-twitch:before {
    content: "";
}

.fa-yelp:before {
    content: "";
}

.fa-newspaper-o:before {
    content: "";
}

.fa-wifi:before {
    content: "";
}

.fa-calculator:before {
    content: "";
}

.fa-paypal:before {
    content: "";
}

.fa-google-wallet:before {
    content: "";
}

.fa-cc-visa:before {
    content: "";
}

.fa-cc-mastercard:before {
    content: "";
}

.fa-cc-discover:before {
    content: "";
}

.fa-cc-amex:before {
    content: "";
}

.fa-cc-paypal:before {
    content: "";
}

.fa-cc-stripe:before {
    content: "";
}

.fa-bell-slash:before {
    content: "";
}

.fa-bell-slash-o:before {
    content: "";
}

.fa-trash:before {
    content: "";
}

.fa-copyright:before {
    content: "";
}

.fa-at:before {
    content: "";
}

.fa-eyedropper:before {
    content: "";
}

.fa-paint-brush:before {
    content: "";
}

.fa-birthday-cake:before {
    content: "";
}

.fa-area-chart:before {
    content: "";
}

.fa-pie-chart:before {
    content: "";
}

.fa-line-chart:before {
    content: "";
}

.fa-lastfm:before {
    content: "";
}

.fa-lastfm-square:before {
    content: "";
}

.fa-toggle-off:before {
    content: "";
}

.fa-toggle-on:before {
    content: "";
}

.fa-bicycle:before {
    content: "";
}

.fa-bus:before {
    content: "";
}

.fa-ioxhost:before {
    content: "";
}

.fa-angellist:before {
    content: "";
}

.fa-cc:before {
    content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
    content: "";
}

.fa-meanpath:before {
    content: "";
}

.fa-buysellads:before {
    content: "";
}

.fa-connectdevelop:before {
    content: "";
}

.fa-dashcube:before {
    content: "";
}

.fa-forumbee:before {
    content: "";
}

.fa-leanpub:before {
    content: "";
}

.fa-sellsy:before {
    content: "";
}

.fa-shirtsinbulk:before {
    content: "";
}

.fa-simplybuilt:before {
    content: "";
}

.fa-skyatlas:before {
    content: "";
}

.fa-cart-plus:before {
    content: "";
}

.fa-cart-arrow-down:before {
    content: "";
}

.fa-diamond:before {
    content: "";
}

.fa-ship:before {
    content: "";
}

.fa-user-secret:before {
    content: "";
}

.fa-motorcycle:before {
    content: "";
}

.fa-street-view:before {
    content: "";
}

.fa-heartbeat:before {
    content: "";
}

.fa-venus:before {
    content: "";
}

.fa-mars:before {
    content: "";
}

.fa-mercury:before {
    content: "";
}

.fa-intersex:before,
.fa-transgender:before {
    content: "";
}

.fa-transgender-alt:before {
    content: "";
}

.fa-venus-double:before {
    content: "";
}

.fa-mars-double:before {
    content: "";
}

.fa-venus-mars:before {
    content: "";
}

.fa-mars-stroke:before {
    content: "";
}

.fa-mars-stroke-v:before {
    content: "";
}

.fa-mars-stroke-h:before {
    content: "";
}

.fa-neuter:before {
    content: "";
}

.fa-genderless:before {
    content: "";
}

.fa-facebook-official:before {
    content: "";
}

.fa-pinterest-p:before {
    content: "";
}

.fa-whatsapp:before {
    content: "";
}

.fa-server:before {
    content: "";
}

.fa-user-plus:before {
    content: "";
}

.fa-user-times:before {
    content: "";
}

.fa-hotel:before,
.fa-bed:before {
    content: "";
}

.fa-viacoin:before {
    content: "";
}

.fa-train:before {
    content: "";
}

.fa-subway:before {
    content: "";
}

.fa-medium:before {
    content: "";
}

.fa-yc:before,
.fa-y-combinator:before {
    content: "";
}

.fa-optin-monster:before {
    content: "";
}

.fa-opencart:before {
    content: "";
}

.fa-expeditedssl:before {
    content: "";
}

.fa-battery-4:before,
.fa-battery-full:before {
    content: "";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
    content: "";
}

.fa-battery-2:before,
.fa-battery-half:before {
    content: "";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
    content: "";
}

.fa-battery-0:before,
.fa-battery-empty:before {
    content: "";
}

.fa-mouse-pointer:before {
    content: "";
}

.fa-i-cursor:before {
    content: "";
}

.fa-object-group:before {
    content: "";
}

.fa-object-ungroup:before {
    content: "";
}

.fa-sticky-note:before {
    content: "";
}

.fa-sticky-note-o:before {
    content: "";
}

.fa-cc-jcb:before {
    content: "";
}

.fa-cc-diners-club:before {
    content: "";
}

.fa-clone:before {
    content: "";
}

.fa-balance-scale:before {
    content: "";
}

.fa-hourglass-o:before {
    content: "";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
    content: "";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
    content: "";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
    content: "";
}

.fa-hourglass:before {
    content: "";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
    content: "";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
    content: "";
}

.fa-hand-scissors-o:before {
    content: "";
}

.fa-hand-lizard-o:before {
    content: "";
}

.fa-hand-spock-o:before {
    content: "";
}

.fa-hand-pointer-o:before {
    content: "";
}

.fa-hand-peace-o:before {
    content: "";
}

.fa-trademark:before {
    content: "";
}

.fa-registered:before {
    content: "";
}

.fa-creative-commons:before {
    content: "";
}

.fa-gg:before {
    content: "";
}

.fa-gg-circle:before {
    content: "";
}

.fa-tripadvisor:before {
    content: "";
}

.fa-odnoklassniki:before {
    content: "";
}

.fa-odnoklassniki-square:before {
    content: "";
}

.fa-get-pocket:before {
    content: "";
}

.fa-wikipedia-w:before {
    content: "";
}

.fa-safari:before {
    content: "";
}

.fa-chrome:before {
    content: "";
}

.fa-firefox:before {
    content: "";
}

.fa-opera:before {
    content: "";
}

.fa-internet-explorer:before {
    content: "";
}

.fa-tv:before,
.fa-television:before {
    content: "";
}

.fa-contao:before {
    content: "";
}

.fa-500px:before {
    content: "";
}

.fa-amazon:before {
    content: "";
}

.fa-calendar-plus-o:before {
    content: "";
}

.fa-calendar-minus-o:before {
    content: "";
}

.fa-calendar-times-o:before {
    content: "";
}

.fa-calendar-check-o:before {
    content: "";
}

.fa-industry:before {
    content: "";
}

.fa-map-pin:before {
    content: "";
}

.fa-map-signs:before {
    content: "";
}

.fa-map-o:before {
    content: "";
}

.fa-map:before {
    content: "";
}

.fa-commenting:before {
    content: "";
}

.fa-commenting-o:before {
    content: "";
}

.fa-houzz:before {
    content: "";
}

.fa-vimeo:before {
    content: "";
}

.fa-black-tie:before {
    content: "";
}

.fa-fonticons:before {
    content: "";
}

.front-top-container {
    background: #5db8ec;
}

.front-top-container .container {
    background: url(../images/front_header_bg.png) left top no-repeat;
    background-size: 393px 286px;
}

/*body {padding:0px; margin:0;color:#5a5a5a; font-family: 'Roboto-Bold';}
a{ outline:none !important; border:none;}
ul, li{ padding:0; margin:0;}
@font-face { font-family: 'Roboto-Bold'; src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;font-style: normal;}
@font-face { font-family: 'Roboto-Light'; src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf')  format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;font-style: normal;}

 img {
 	max-width: 100%;
 	height: auto;
 }
.pushy {
	display: none;
}

.navbar-fixed-top2 {
	position:fixed; 
	z-index:9999; 
	left:0; 
	right:0;
	background:#fff url("../images/menu-img.jpg") repeat-x scroll left bottom; border-radius:0;
	top: 0px;
	.search{ 
		width:77%; 
		right:0; 
		left:auto; 
	}
}
.navbar{ min-height:0;}
.navbar-wrapper { position: absolute; top: 0; right: 0; left: 0; z-index: 20;}
.navbar-default{ background:none; border:none; margin:0; }
.navbar-wrapper > .container { padding-right: 0; padding-left: 0;}
.navbar-wrapper .navbar { padding-right: 15px; padding-left: 15px;}
.navbar-wrapper .navbar .container { width: auto;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background:none; color:#d5620e;}
.btn-primary.focus, .btn-primary:focus{font-size:14px; text-transform:uppercase; font-family: 'Roboto-Bold'; border-radius:2px; border:2px solid #FFF; background:none;}
.navbar-nav > li > a{ font-size:17px; margin-left:19px; margin-right:19px; padding:11px 0 17px;text-decoration: none;} 
.navbar-brand{ padding-top:11px; }
.navbar-default .navbar-nav > li > a{ text-transform: uppercase; font-family: 'Roboto-Bold'; color:#d5620e;}
.navbar-default .navbar-nav > li > a:hover{ color:#d60717; background:rgba(0, 0, 0, 0) url("../images/menu-hover-img.jpg") repeat-x scroll left bottom;}
.navbar-collapse{ margin-top:30px;}
.navbar-fixed-top2 {
    background: #fff url("../images/menu-img.jpg") repeat-x scroll left bottom;
    border-radius: 0;
}
.navbar-nav {
	list-style: none; 
}
@media (min-width: 768px) {
	.navbar-header {
	    float: left;
	}
}
@media (min-width: 768px) {
	.navbar-nav>li {
	    float: left;
	}
}
.menu-btn {
	display: none;
}
.container {
    width: 1020px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
	@media (max-width: 1024px) {
	    width: 100%;
	    padding-left: 0px;
	    padding-right: 0px;
	}
}

*/
#oe_applications {
    margin-top: 30px;
}

#wrapwrap .navbar-fixed-top2 {
    position: relative;
    z-index: 1;
}

#wrapwrap.scrolled .navbar-fixed-top2 {
    position: fixed;
    z-index: 1000;
}

#wrapwrap #container {
    padding-top: 0px;
}

#wrapwrap.scrolled #container {
    padding-top: 84px;
}

body {
    background: url("../images/bgr1920.jpg");
    background-repeat: repeat-y;
    background-position: top center;
}

@media (max-width: 768px) {
    body {
        background: url("../images/bgr768.jpg");
        background-repeat: repeat-y;
        background-position: top center;
    }
}

@media (max-width: 320px) {
    body {
        background: url("../images/bgr320.jpg");
        background-repeat: repeat-y;
        background-position: top center;
    }
}

.row {
    margin: 0px;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin: 0px;
    }
}

.main_blog .submenu {
    background: white;
    margin: 0px 8px;
    margin-top: 6px;
    padding: 30px 0px;
}

.main_blog .submenu ul {
    list-style: none;
    margin-left: 60px;
    margin-right: 60px;
}

@media (max-width: 400px) {
    .main_blog .submenu ul {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.main_blog .submenu ul li {
    display: inline-block;
    padding-right: 24px;
}

.main_blog .submenu ul li a {
    color: #d5620e;
    font-size: 15px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.main_blog .submenu ul li a:hover {
    color: #d60717;
}

.main_blog #myCarousel {
    margin: 0px 8px;
}

.main_blog .carousel-controls {
    position: absolute;
    left: 60px;
    bottom: 20px;
}

@media (max-width: 400px) {
    .main_blog .carousel-controls {
        left: 20px;
    }
}

.main_blog .carousel-controls .left, .main_blog .carousel-controls .right {
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    opacity: 1;
}

.main_blog .carousel-controls .left span, .main_blog .carousel-controls .right span {
    margin: 0px;
    width: 20px;
    position: absolute;
    height: 20px;
    top: 2px;
    left: 0px;
    color: white;
}

.main_blog .carousel-controls .left {
    padding-right: 25px;
}

.main_blog .carousel-controls .right {
    padding-left: 25px;
}

.main_blog .carousel-controls .carousel-indicators {
    position: relative;
    display: inline-block;
    left: 0px;
    width: auto;
    margin: 0px;
    height: 30px;
    float: left;
    top: 0px;
}

.main_blog .carousel-controls .carousel-indicators li {
    margin: 1px 25px;
    background: white;
}

@media (max-width: 400px) {
    .main_blog .carousel-controls .carousel-indicators li {
        margin: 1px 14px;
    }
}

.main_blog .carousel-controls .carousel-indicators li.active {
    background: #d50e1e;
    border: 1px solid #d50e1e;
}

.main_blog .slide_title {
    font-size: 30px;
    line-height: 32px;
    color: white;
    padding: 0px 60px;
    padding-top: 40px;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .main_blog .slide_title {
        font-size: 25px;
        line-height: 28px;
        padding-top: 40px;
    }
}

@media (max-width: 640px) {
    .main_blog .slide_title {
        font-size: 25px;
        line-height: 28px;
        padding: 0px 20px;
        padding-top: 20px;
    }
}

@media (max-width: 400px) {
    .main_blog .slide_title {
        font-size: 21px;
        line-height: 25px;
    }
}

.main_blog .slide_text {
    font-size: 16px;
    line-height: 38px;
    color: white;
    padding: 0px 60px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media (max-width: 767px) {
    .main_blog .slide_text {
        line-height: 30px;
        padding-top: 30px;
    }
}

@media (max-width: 640px) {
    .main_blog .slide_text {
        line-height: 20px;
        padding: 0px 20px;
        padding-top: 30px;
    }
}

@media (max-width: 400px) {
    .main_blog .slide_text {
        font-size: 14px;
        padding-top: 20px;
    }
}

.main_blog .slide_link {
    padding: 0px 60px;
    padding-top: 15px;
}

@media (max-width: 640px) {
    .main_blog .slide_link {
        padding: 0px 20px;
        padding-top: 15px;
    }
}

.main_blog .slide_link a {
    font-size: 14px;
    text-decoration: none;
    padding: 0px 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: white;
    background: #d5620e;
    border-radius: 5px;
    border: 2px solid #d5620e;
    display: inline-block;
}

.main_blog .slide_link a:hover {
    background: white;
    color: #d5620e;
}

.main_blog .blog_filters {
    background: white;
    padding: 30px;
    margin: 0px 8px;
}

.main_blog .blog_filters .filter_title {
    color: #d5620e;
    font-size: 21px;
    float: left;
    text-transform: uppercase;
    padding-top: 6px;
}

.main_blog .blog_filters ul {
    list-style: none;
    padding-left: 200px;
}

@media (max-width: 767px) {
    .main_blog .blog_filters ul {
        padding-left: 0px;
        clear: both;
    }
}

.main_blog .blog_filters ul li {
    display: inline-block;
    padding-right: 12px;
    padding-top: 6px;
}

.main_blog .blog_filters ul li a {
    color: #d5620e;
    font-size: 12px;
    line-height: 26px;
    border: 2px solid #d5620e;
    border-radius: 2px;
    display: inline-block;
    padding: 0px 25px;
    text-transform: uppercase;
    text-decoration: none;
}

.main_blog .blog_filters ul li a:hover {
    color: #d60717;
    border-color: #d60717;
}

.main_blog .list {
    margin-bottom: 60px;
}

.main_blog .list .item {
    width: 33.33%;
    float: left;
    padding: 15px 7px 0px 7px;
}

@media (max-width: 768px) {
    .main_blog .list .item {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .main_blog .list .item {
        width: 100%;
    }
}

.main_blog .list .item a {
    background: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.main_blog .list .item a img {
    width: 100%;
    height: auto;
}

.main_blog .list .item a .category {
    display: block;
    color: #015995;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 30px;
}

.main_blog .list .item a .title {
    display: block;
    color: #161d26;
    font-size: 21px;
    text-transform: uppercase;
    word-wrap: break-word;
}

.main_blog .list .item a .text {
    display: block;
    color: #161d26;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 35px;
    word-wrap: break-word;
}

.main_blog .list .item a.right_blog .img_wrap {
    float: left;
    width: 50%;
}

.main_blog .list .item a.right_blog .text_wrap {
    float: left;
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
}

.main_blog .list .item a.right_blog .text_wrap .category {
    padding-top: 10px;
}

.main_blog .list .item a.right_blog .text_wrap .text {
    padding-top: 10px;
}

.main_blog .upload_more {
    text-align: center;
}

.main_blog .upload_more a {
    font-size: 14px;
    text-decoration: none;
    padding: 0px 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: white;
    background: #d50e1e;
    border-radius: 5px;
    border: 2px solid #d50e1e;
    display: inline-block;
}

.main_blog .upload_more a:hover {
    background: white;
    color: #d5620e;
}

.main_blog #footer {
    border-bottom: 6px solid #d60717;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0px;
}

.main_blog #footer .row {
    padding: 60px;
    position: relative;
}

@media (max-width: 400px) {
    .main_blog #footer .row {
        padding-bottom: 120px;
    }
}

.main_blog #footer .row > div {
    position: relative;
    z-index: 2;
}

.main_blog #footer .left_part {
    float: left;
    width: 55%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media (max-width: 767px) {
    .main_blog #footer .left_part {
        float: none;
        width: 100%;
    }
}

.main_blog #footer .left_part .phone_letter {
    padding-top: 10px;
}

.main_blog #footer .left_part .phone_letter a {
    color: #b9c1cb;
    font-size: 11px;
    line-height: 26px;
    border: 2px solid #b9c1cb;
    border-radius: 2px;
    display: inline-block;
    padding: 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    float: left;
    margin-top: 10px;
}

.main_blog #footer .left_part .phone_letter a:hover {
    background: #b9c1cb;
    color: white;
}

@media (max-width: 767px) {
    .main_blog #footer .left_part .phone_letter a {
        margin-left: 0px;
        margin-right: 10px;
    }
}

.main_blog #footer .left_part .phone {
    font-size: 21px;
    line-height: 30px;
    float: left;
    margin-top: 10px;
}

@media (max-width: 959px) {
    .main_blog #footer .left_part .phone {
        float: none;
        display: block;
    }
}

.main_blog #footer .left_part .social {
    padding-top: 40px;
}

@media (max-width: 767px) {
    .main_blog #footer .left_part .social .title {
        display: block;
    }
}

.main_blog #footer .left_part .social a i {
    line-height: 43px;
    width: 43px;
    color: white;
    text-align: center;
    font-size: 21px;
    border-radius: 2px;
    margin-left: 6px;
}

@media (max-width: 767px) {
    .main_blog #footer .left_part .social a i {
        margin-left: 0px;
        margin-right: 6px;
    }
}

.main_blog #footer .left_part .social a i.fa-facebook {
    background: #d5620e;
}

.main_blog #footer .left_part .social a i.fa-linkedin {
    background: #015995;
}

.main_blog #footer .left_part .social a i.fa-vk {
    background: #2b4e76;
}

.main_blog #footer .right_part {
    float: right;
    width: 45%;
    text-align: right;
    font-size: 16px;
}

@media (max-width: 767px) {
    .main_blog #footer .right_part {
        float: none;
        width: 100%;
        text-align: left;
        padding-top: 20px;
    }
}

.main_blog #footer .right_part a {
    font-size: 16px;
    color: #d5620e;
    margin-top: 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main_blog #footer #footer_img {
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -50px;
}

.clear {
    clear: both;
    display: block;
}

.front_blog_img_wrap {
    position: relative;
    margin: 0px 8px;
    padding: 0px 60px;
    background: white;
}

@media (max-width: 400px) {
    .front_blog_img_wrap {
        padding: 0px 20px;
    }
}

.front_blog_img_wrap .front_blog_img {
    position: relative;
}

.front_blog_img_wrap .front_blog_img.no-image .title {
    position: relative;
    top: 0px;
}

.front_blog_img_wrap .title {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    /*@media (max-width: 659px) {
			top:5%;
		}*/
}

.front_blog_img_wrap img {
    width: 100%;
    height: auto;
}

.front_blog_img_wrap h1 {
    color: #fefefe;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: bold;
}

@media (max-width: 899px) {
    .front_blog_img_wrap h1 {
        font-size: 30px;
    }
}

@media (max-width: 659px) {
    .front_blog_img_wrap h1 {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    .front_blog_img_wrap h1 {
        font-size: 14px;
    }
}

.front_blog_img_wrap .fa-angle-down {
    margin-top: 32px;
}

.front_blog_img_wrap .fa-angle-down:hover {
    color: #6dbaef;
    text-decoration: none;
}

.front_blog_img_wrap .fa-angle-down:before {
    content: "\f107";
}

.top_text_article {
    font-size: 21px;
    font-weight: 300;
    padding: 60px 0px;
    text-align: center;
}

@media (max-width: 450px) {
    .top_text_article {
        font-size: 14px;
    }
}

.top_text_article_wrap {
    margin: 0px 8px;
    padding: 0px 60px;
    background: white;
}

#blog_content {
    margin: 0px 8px;
    padding: 0px 60px;
    background: white;
    color: #161d26;
    font-family: "Roboto";
    padding-bottom: 100px;
}

@media (max-width: 400px) {
    #blog_content {
        padding: 0px 20px;
        padding-bottom: 40px;
    }
}

#blog_content .created {
    color: #8b95a1;
    font-size: 14px;
}

#blog_content .tags {
    margin-top: 60px;
}

#blog_content .tags ul li {
    display: inline-block;
}

#blog_content .tags ul li a {
    color: #b9c1cb;
    font-size: 11px;
    line-height: 26px;
    border: 2px solid #b9c1cb;
    border-radius: 2px;
    display: inline-block;
    padding: 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    float: left;
}

#blog_content .tags ul li a:hover {
    background: #b9c1cb;
    color: white;
}

@media (max-width: 767px) {
    #blog_content .tags ul li a {
        margin-left: 0px;
        margin-right: 10px;
    }
}

#comments {
    max-width: 660px;
    width: 100%;
    font-family: "Roboto";
    padding-bottom: 100px;
}

#comments .title, #comments .title_comment {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 60px;
}

#comments .comment-item {
    padding-top: 40px;
    font-weight: 400;
}

#comments .comment-item .comment-name {
    font-size: 15px;
}

#comments .comment-item .comment-name span {
    padding-left: 20px;
    color: #8b95a1;
    font-size: 11px;
}

#comments .comment-item .comment-text {
    padding-top: 15px;
    font-size: 14px;
}

#comments form {
    padding-top: 10px;
}

#comments form .form-item {
    padding-top: 10px;
}

#comments form .form-item label {
    color: #8b95a1;
    font-size: 11px;
}

#comments form textarea {
    background: #e5eaee;
    height: 40px;
    line-height: 40px;
    border: 0px;
    border-top: 1px solid #b9c1cb;
    font-size: 16px;
    color: #253140;
    padding-left: 20px;
    border-radius: 5px;
    max-width: 660px;
    height: 170px;
    resize: none;
    width: 100%;
}

#comments form .form-item-wrap .form-item {
    float: left;
    padding-right: 40px;
}

#comments form .form-item-wrap .form-item:nth-child(3) {
    padding-right: 0px;
}

@media (max-width: 400px) {
    #comments form .form-item-wrap .form-item {
        padding-right: 0px;
        float: none;
    }
}

#comments form .form-item-wrap .form-item input {
    background: #e5eaee;
    height: 40px;
    line-height: 40px;
    border: 0px;
    border-top: 1px solid #b9c1cb;
    font-size: 16px;
    color: #253140;
    padding-left: 20px;
    border-radius: 5px;
}

#comments form .form-item-wrap .form-item #name, #comments form .form-item-wrap .form-item #mail {
    width: 260px;
}

@media (max-width: 400px) {
    #comments form .form-item-wrap .form-item #name, #comments form .form-item-wrap .form-item #mail {
        width: 100%;
    }
}

#comments form .form-item-wrap .form-item #numbers {
    width: 60px;
}

#comments form .form-submit {
    padding-top: 40px;
}

#comments form .form-submit input[type="submit"] {
    font-size: 14px;
    text-decoration: none;
    padding: 0px 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: white;
    background: #d5620e;
    border-radius: 5px;
    border: 2px solid #d5620e;
    display: inline-block;
}

#comments form .form-submit input[type="submit"]:hover {
    background: white;
    color: #d5620e;
}

.blog_register_login {
    margin: 0px 8px;
    padding: 0px 60px;
    margin-top: 6px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: white;
}

@media (max-width: 400px) {
    .blog_register_login {
        padding: 0px 20px;
        padding-bottom: 40px;
    }
}

.blog_register_login .breadcrumbs {
    font-size: 13px;
    color: #8b95a1;
    float: left;
    text-transform: uppercase;
    padding-top: 5px;
}

.blog_register_login .breadcrumbs a {
    font-size: 13px;
    color: #8b95a1;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width: 530px) {
    .blog_register_login .breadcrumbs {
        float: none;
    }
}

.blog_register_login .login_link {
    float: right;
}

@media (max-width: 530px) {
    .blog_register_login .login_link {
        float: none;
        padding-top: 15px;
    }
}

.blog_register_login .login_link a {
    color: #b9c1cb;
    font-size: 11px;
    line-height: 26px;
    border: 2px solid #b9c1cb;
    border-radius: 2px;
    display: inline-block;
    padding: 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
}

.blog_register_login .login_link a:hover {
    background: #b9c1cb;
    color: white;
}

.blog_register_login .register_title {
    font-size: 30px;
    text-transform: uppercase;
    color: #161d26;
    padding-top: 60px;
}

@media (max-width: 400px) {
    .blog_register_login .register_title {
        font-size: 24px;
    }
}

.blog_register_login .register_text {
    color: #253140;
    font-family: "Roboto";
    font-size: 16px;
    padding-top: 40px;
    line-height: 24px;
}

.blog_register_login .social_link {
    padding-top: 60px;
}

.blog_register_login .social_link .social_title {
    font-size: 21px;
    color: #161d26;
    text-transform: uppercase;
}

@media (max-width: 400px) {
    .blog_register_login .social_link .social_title {
        font-size: 16px;
    }
}

.blog_register_login .social_link .social_links {
    padding-top: 25px;
}

.blog_register_login form .form-checkbox {
    padding-top: 40px;
}

.blog_register_login form .form-checkbox input {
    display: none;
}

.blog_register_login form .form-checkbox label {
    background: url("../images/register_unchecked.png");
    padding-left: 50px;
    background-repeat: no-repeat;
    font-size: 13px;
    color: #253140;
    max-width: 380px;
    line-height: 20px;
    padding-top: 5px;
    font-family: "Roboto";
}

.blog_register_login form .form-checkbox label a {
    font-size: 13px;
    color: #d5620e;
    font-family: "Roboto";
}

.blog_register_login form .form-checkbox input:checked + label {
    background: url("../images/register_checked.png");
    background-repeat: no-repeat;
}

.blog_register_login form .form-title {
    font-size: 21px;
    color: #161d26;
    padding-top: 100px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.blog_register_login form .form-item:not(.form-checkbox) label {
    font-size: 11px;
    color: #8b95a1;
    padding-top: 25px;
}

.blog_register_login form .form-item:not(.form-checkbox) input {
    width: 380px;
    background: #e5eaee;
    height: 40px;
    line-height: 40px;
    border: 0px;
    border-top: 1px solid #b9c1cb;
    font-size: 16px;
    color: #253140;
    padding-left: 20px;
    border-radius: 5px;
}

@media (max-width: 530px) {
    .blog_register_login form .form-item:not(.form-checkbox) input {
        width: 100%;
    }
}

.blog_register_login form .form-submit {
    padding-top: 40px;
}

.blog_register_login form .form-submit input[type="submit"] {
    font-size: 14px;
    text-decoration: none;
    padding: 0px 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: white;
    background: #d5620e;
    border-radius: 5px;
    border: 2px solid #d5620e;
    display: inline-block;
}

.blog_register_login form .form-submit input[type="submit"]:hover {
    background: white;
    color: #d5620e;
}

.blog_register_login form .form-item_wrap .form-item {
    float: left;
    padding-right: 40px;
}

@media (max-width: 530px) {
    .blog_register_login form .form-item_wrap .form-item {
        float: none;
        padding-right: 0px;
    }
}

.blog_register_login .request_password {
    padding-top: 20px;
}

.blog_register_login .request_password a {
    font-size: 12px;
    color: #10417a;
    text-decoration: none;
}

.blog_register_login .request_password a:hover {
    color: #d60717;
}

.popular {
    margin: 0px 8px;
    padding: 60px;
    background: #e5eaee;
}

@media (max-width: 400px) {
    .popular {
        padding: 20px;
    }
}

.popular .popular_title {
    font-size: 21px;
    color: #161d26;
    text-transform: uppercase;
}

.popular .popular_wrap {
    padding-top: 40px;
}

.popular .popular_wrap .popular-item {
    float: left;
    width: 180px;
    margin-right: 40px;
    padding-bottom: 20px;
}

.popular .popular_wrap .popular-item:nth-child(3) {
    margin-right: 0px;
}

.popular .popular_wrap .popular-item img {
    width: 100%;
    height: auto;
}

.popular .popular_wrap .popular-item .title {
    font-size: 15px;
    color: #d5620e;
    font-family: "Roboto";
    font-weight: 300;
    padding-top: 15px;
}

.popular .popular_wrap .popular-item .create_comments {
    font-size: 11px;
    color: #8b95a1;
    padding-top: 15px;
}

.popular .popular_wrap .popular-item .create_comments .count {
    background: url("../images/comments_ico.png");
    background-repeat: no-repeat;
    padding-left: 15px;
    margin-left: 20px;
    background-position: 0px 3px;
}

#connect textarea {
    background: #e5eaee;
    height: 40px;
    line-height: 40px;
    border: 0px;
    border-top: 1px solid #b9c1cb;
    font-size: 16px;
    color: #253140;
    padding-left: 20px;
    border-radius: 5px;
    height: 170px;
    resize: none;
    width: 100%;
}

#connect .form-item input {
    width: 100%;
}

#connect .form-item-wrap .form-item {
    float: left;
    padding-right: 40px;
    width: 45%;
}

@media (max-width: 639px) {
    #connect .form-item-wrap .form-item {
        width: 100%;
        padding-right: 0px;
    }

    #connect .form-item-wrap .form-item #name, #connect .form-item-wrap .form-item #mail {
        width: 100%;
    }

    #connect .form-item-wrap .form-item #numbers {
        width: 60px;
    }
}

#connect .form-item-wrap .form-item:nth-child(3) {
    padding-right: 0px;
    width: 10%;
}

@media (max-width: 639px) {
    #connect .form-item-wrap .form-item:nth-child(3) {
        width: auto;
    }

    #connect .form-item-wrap .form-item:nth-child(3) #name, #connect .form-item-wrap .form-item:nth-child(3) #mail {
        width: 260px;
    }

    #connect .form-item-wrap .form-item:nth-child(3) #numbers {
        width: 60px;
    }
}

#connect .form-item-company {
    width: 45%;
    padding-right: 40px;
    box-sizing: border-box;
}

@media (max-width: 639px) {
    #connect .form-item-company {
        padding-right: 0px;
        width: 100%;
    }

    #connect .form-item-company input {
        width: 100%;
    }
}

.reads_answers {
    margin: 0px 8px;
    padding: 60px;
    background: white;
}

@media (max-width: 400px) {
    .reads_answers {
        padding: 20px;
    }
}

.reads_answers .title {
    font-size: 21px;
    color: #161d26;
    float: left;
    text-transform: uppercase;
}

@media (max-width: 639px) {
    .reads_answers .title {
        float: none;
    }
}

.reads_answers .owl-control {
    float: right;
}

@media (max-width: 639px) {
    .reads_answers .owl-control {
        float: none;
        padding-top: 15px;
    }
}

.reads_answers .owl-control span {
    cursor: pointer;
}

.reads_answers .owl-control span.next {
    margin-left: 70px;
}

.other_answers {
    margin: 0px 8px;
    padding: 0px 60px;
    padding-bottom: 60px;
    background: #e5eaee;
}

@media (max-width: 400px) {
    .other_answers {
        padding: 0px 20px;
        padding-bottom: 20px;
    }
}

.other_answers .owl-title {
    padding-top: 40px;
    color: #d5620e;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 300;
}

.other_answers .owl-text {
    padding-top: 15px;
    font-size: 13px;
    color: #161d26;
    line-height: 20px;
}

.other_answers .owl-link {
    font-size: 14px;
    text-decoration: none;
    padding: 0px 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: white;
    background: #d5620e;
    border-radius: 5px;
    border: 2px solid #d5620e;
    display: inline-block;
    margin-top: 25px;
}

.other_answers .owl-link:hover {
    background: white;
    color: #d5620e;
}

.other_answers .owl-company {
    font-size: 11px;
    padding-top: 15px;
    color: #8b95a1;
}

.other_answers #owl-answers .owl-item {
    box-sizing: border-box;
    padding-right: 45px;
}

@media (max-width: 639px) {
    .other_answers #owl-answers .owl-item {
        padding-right: 0px;
    }
}

.mt16 {
    margin-top: 0;
}

#blog_content.mt32 {
    margin-top: 0px !important;
}

.front_blog_img_wrap .post-meta.text-muted {
    text-align: left;
    margin-bottom: 0px;
}

.front_blog_img_wrap .post-meta.text-muted span {
    display: none;
    text-align: left;
}

.front_blog_img_wrap .post-meta.text-muted a {
    color: #b9c1cb;
    font-size: 11px;
    line-height: 26px;
    border: 2px solid #b9c1cb;
    border-radius: 2px;
    display: inline-block;
    padding: 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 10px;
    /*float: left;*/
}

.front_blog_img_wrap .post-meta.text-muted a:hover {
    background: #b9c1cb;
    color: white;
}

.front_blog_img_wrap .mt16 {
    margin-top: 0px !important;
}

/*# sourceMappingURL=uworld.style.css.map */
